[gcode_macro LOAD_FILAMENT]
#   Extrusion lengths must be adjusted for your particular configuration before use
gcode:
   {% if printer.toolhead.status == "Ready" %}
      M83                            ; set extruder to relative
      G1 E400 F1800                  ; quickly load filament to down bowden
      G1 E40 F300                    ; slower extrusion for hotend path
      G1 E30 F150                    ; prime nozzle with filament
      M82                            ; set extruder to absolute
   {% else %}
      { printer.gcode.action_respond_info("Filament loading disabled while printing!") }
   {% endif %}
